.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.app-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.LabelEditor {
  position: relative;
  margin-top: 50px;
}

.LabelEditor .image {
    margin-bottom: 100px;
}

.LabelEditor .input-field {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
  word-break: break-word;
  resize: none;
  overflow: hidden;
  padding: 0;
  border: none;
}