body {
  background-color: #F6F6F6;
}

.App {
  text-align: center;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/
.Logo {
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.app-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.LabelEditor {
  position: relative;
  margin-top: 50px;
}

.LabelEditor .image {
    margin-bottom: 100px;
}

.LabelEditor .input-field {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.0);
  word-break: break-word;
  resize: none;
  overflow: hidden;
  padding: 0;
  border: none;
}
.LabelEditor .input-field:focus {
  background-color: rgba(255, 255, 255, 0.4);
}

.Header {
  height: 100px;
  width: 100%;
  border-color: orange;
  background-color: #0B2026;
  display: flex;
  justify-content: flex-end;  
}

.Header .Logo {
  display: inline-block;
  height: 80px;
  width: 80px;
  border: 2px solid black;
  border-radius: 50%;
  background-image: url('./phil-logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: auto;
  margin-left: 20px;

}

.Header .FileName {
  display: inline-block;
  height: 60px;
  width: 300px;
  margin-left: 40px;
  color: white;
  font-size: 16px;
  display: none;

}

.Header .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header .buttons .ExportButton {
  display: inline-block;
  height: 30px;
  width: 100px;
  border: 2px solid black;
  float: right;
  margin-right: 80px;
  text-align: center;
  line-height: 20px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header .buttons .ImportButton {
  display: inline-block;
  height: 30px;
  width: 100px;
  border: 2px solid black;
  float: right;
  margin-right: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.Header .ImportButton:hover {
  /*background-color: green; */
  cursor: pointer;
}
.Header .ExportButton:hover {
  /*background-color: green; */
  cursor: pointer;
}

.DropZone-Container {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.DropZone {
  width: 330px;
  height: 330px;
  border: 10px dashed;
  font-size: 24px;
  font-family: heebo-bold;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;  
}

.booboo {
  background-color: red;
}