.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.app-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.LabelEditor {
  position: relative;
  margin-top: 50px;
}

.LabelEditor .image {
    margin-bottom: 100px;
}

.LabelEditor .input-field {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
  word-break: break-word;
  resize: none;
  overflow: hidden;
  padding: 0;
  border: none;
}

.Header {
  height: 100px;
  width: 100%;
  border-color: orange;
  border-bottom: 2px solid orange;
  padding-top: 10px;
}

.Header .Logo {
  display: inline-block;
  height: 80px;
  width: 80px;
  border: 2px solid black;
  margin-left: 20PX;
  border-radius: 50%;

}

.Header .FileName {
  display: inline-block;
  height: 60px;
  width: 300px;
  border: 2px solid black;
  margin-left: 40px;
}

.Header .ExportButton {
  display: inline-block;
  height: 20px;
  width: 80px;
  border: 2px solid black;
  float: right;
  margin-right: 80px;
  margin-top: 40px;
  text-align: center;
  line-height: 20px;
}

.Header .ImportButton {
  display: inline-block;
  height: 20px;
  width: 80px;
  border: 2px solid black;
  float: right;
  margin-right: 80px;
  margin-top: 40px;
  text-align: center;
  line-height: 20px;  
}

.Header .ImportButton:hover {
  background-color: green; 
}